<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
			<h1 class='tournamentsh1'> Tournaments </h1>
				<ul class='container'>
						<% for (let i = 0; i < Tournaments.length; i++){ %>
					<li>
							<a href='/tournaments/<%=Tournaments[i].id; %>'>
						<img class='tourimg four columns' src='<%=Tournaments[i].img%>'/>
						</a>
					</li>
		 				<% } %>
						<% for (let i = 0; i < Tournaments.length; i++){ %>
						<a href='/tournaments/<%=Tournaments[i].id; %>/'>
										<button class='tourname'>
											<%=Tournaments[i].name; %>
						</a>
				</ul>
				<% } %>
				<button>
					<a href='/tournaments/new'> Add Tournament Review </a>
				</button>
				<% include ../partials/footer.ejs %>
					<h5> CLE </h5>

	</body>
</html>
