<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body class='container'>
		<div>
			<ul class='container'>
				<% for (let i = 0; i < Tournaments.length; i++){ %>
					<li>
						<%=Tournaments[i].name; %>
					</li>
					<% } %>
			</ul>
				<ul class='row'>
						<% for (let i = 0; i < Tournaments.length; i++){ %>
					<li>
							<a href='/tournaments/<%=Tournaments[i].id; %>'>
						<img class='three columns tourimg' src='<%=Tournaments[i].img%>'/>
						</a>
					</li>
		 				<% } %>
				</ul>
		</div>
			<footer class='footer'>
				<button>
					<a href='/tournaments/new'> Add Tournament Review </a>
				</button>
				<% include ../partials/footer.ejs %>
			</footer>
	</body>
</html>
