<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body class='container'>
			<div>
			<div>
		<h1> Add New Tournament </h1>
			</div>
			<div>
		<form action='/tournaments' method='POST'>
			<div>
				Name: <input type='text' name='name' />
			</div>
				<br />
			<div>
				Location: <input type='text' name='location' />
			</div>
				<br />
			<div>
				Date: <input type='text' name='date' />
			</div>
				<br />
			<div>
				Img: <input type='image' name='img'  />
			</div>
				<br />
			<div>
				Competitive: <input type='checkbox' name='competitive' />
			</div>
				<br />
			<div>
				Social: <input type='checkbox' name='social' />
			</div>
				<br />
			<div>
				Rating: <input type='number' name='rating' />
			</div>
				<br />
			<div>
				Review: <input type='text' name='review' />
				<br />
			</div>
			<div>
			<input type='submit' value='Add New Tournament' />
		</div>
		</form>
		</div>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
